    <app-navbar></app-navbar>
  
    <section class="perfil-usuario">
        <!-- Interés del usuario -->
        <div class="perfil-interes">
            <h3>Bienvenido</h3>
            <p>{{ user?.nombre }}</p>
        </div>
        
        <div class="perfil-interes" *ngIf="user?.intereses">
            <h3>Interesado en:</h3>
            <p>{{ user.intereses }}</p>
        </div>
        
        <!-- Propiedades guardadas -->
        <div class="perfil-guardadas">
            <h3>Propiedades Guardadas</h3>
            <div *ngIf="favoritos.length === 0">
                <h3>No has guardado ninguna propiedad aún.</h3>
            </div>
              
            <div *ngIf="favoritos.length > 0">
                <app-propiedades-card [propiedades]="favoritos"></app-propiedades-card>
            </div>
        </div>
        
        <!-- Botón de cerrar sesión -->
        <div class="cerrar-sesion">
            <button class="btn-1" (click)="logout()">Cerrar sesión</button>
        </div>
    </section>
    


    <app-footer></app-footer>
