    <!-- Header con Navbar -->
    <header class="header">
        <div class="menu container">
            <a routerLink="/inicio" class="logo">Nobilis</a>

            <nav class="navbar">
                <ul>
                    <li><a routerLink="/propiedades">Propiedades</a></li>
                    <li><a routerLink="/nosotros">Nosotros</a></li>
                    <li><a routerLink="/contacto">Contacto</a></li>
                    <li *ngIf="isLogged(); else loginLink">
                        <a routerLink="/miperfil">Mi perfil</a>
                    </li>
                    <ng-template #loginLink>
                        <li><a routerLink="/perfil">Iniciar sesión</a></li>
                    </ng-template>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <h1>Bienvenido a Nobilis</h1>
            <p>Propiedades de lujo</p>
        </div>
    </header>

    <!-- Sección Principal de Propiedades -->
    <main class="propiedades">
        <div class="propiedades-content container">
            <h2>Propiedades más destacadas</h2>
            
            <!-- Componente de propiedades con datos dinámicos -->
            <app-propiedades-card [propiedades]="propiedades"></app-propiedades-card>
            
            <a routerLink="/propiedades" class="btn-1 brt-margin">Ver todas las propiedades</a>
        </div>
    </main>

    <!-- Sección Nosotros -->
    <app-nosotros-info></app-nosotros-info>

    <!-- Mensaje de Marketing -->
    <section class="mensaje">
        <div class="container">
            <p class="mensaje-PP">
                Descubre la propiedad de tus sueños en un entorno donde el lujo, 
                la exclusividad y el confort se combinan perfectamente.
            </p>
            <p class="mensaje-sec">Nobilis</p>
            <p class="mensaje-ter">Donde el lujo se convierte en hogar.</p>
        </div>
    </section>

    <!-- Sección de Registro -->
    <app-registrarse></app-registrarse>

    <!-- Footer -->
    <app-footer></app-footer>
