<app-navbar-admin></app-navbar-admin>
<section class="admin-ingresar-propiedad">
  <div class="container">
    <h2>Ingresar Nueva Propiedad</h2>
    <form (ngSubmit)="guardarPropiedad(form)" #form="ngForm" class="form-ingresar-propiedad"> 
      
      <div class="form-group">
        <label for="nombre">Nombre de la Propiedad</label>
        <input type="text" id="nombre" name="titulo" [(ngModel)]="propiedad.titulo" #titulo="ngModel" required>
        <div *ngIf="titulo.invalid && titulo.touched" class="error">El nombre es obligatorio.</div>
      </div>

      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" [(ngModel)]="propiedad.descripcion" #descripcion="ngModel" required></textarea>
        <div *ngIf="descripcion.invalid && descripcion.touched" class="error">La descripción es obligatoria.</div>
      </div>

      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" id="precio" name="precio" [(ngModel)]="propiedad.precio" #precio="ngModel" required>
        <div *ngIf="precio.invalid && precio.touched" class="error">El precio es obligatorio.</div>
      </div>

      <div class="form-group">
        <label for="ubicacion">Ubicación</label>
        <input type="text" id="ubicacion" name="ubicacion" [(ngModel)]="propiedad.ubicacion" #ubicacion="ngModel" required>
        <div *ngIf="ubicacion.invalid && ubicacion.touched" class="error">La ubicación es obligatoria.</div>
      </div>

      <div class="form-group">
        <label for="imagen">Imagen URL</label>
        <input type="text" id="imagen" name="imagen" [(ngModel)]="propiedad.imagen" #imagen="ngModel" required>
        <div *ngIf="imagen.invalid && imagen.touched" class="error">La imagen es obligatoria.</div>
      </div>

      <div class="form-submit">
        <button type="submit" class="btn-1">Guardar Propiedad</button>
      </div>
    </form>
  </div>
</section>
