<div class="propi-group">
    <div class="propi-1">
        <img src="assets/img/casa1.jpg" alt="casa-luxiry">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <a routerLink="/inmuebleinfo" class="btn-2">Más Información</a>
    </div>
    <div class="propi-1">
        <img src="assets/img/casa2.jpg" alt="casa-luxiry">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <a href="#" class="btn-2">Más Información</a>
    </div>
    <div class="propi-1">
        <img src="assets/img/casa3.jpg" alt="casa-luxury">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn-2">Más Información</a>
    </div>
</div>