<div class="propi-group">
    <div class="propi-group">
        <div *ngFor="let propiedad of propiedades" class="propi-1">
          <img [src]="propiedad.imagen" [alt]="propiedad.titulo">
          <h3>{{ propiedad.titulo }}</h3>
          <p>{{ propiedad.descripcion }}</p>
          <a routerLink="/inmuebleinfo" class="btn-2">Más Información</a>
      
          <!-- Botón para agregar a favoritos -->
          <button class="btn-2" (click)="agregarAFavoritos(propiedad.id)"> Agregar a deseados</button>
        </div>
      </div>
</div>