
<section class="nosotros">
    <img src="" alt="">
    <div class="nosotros-content container"></div>
    <h2>Apasionados por ayudarte a
        encontrar el lugar de tus sueños.</h2>
    <p class="txt-p">
        Nuestro compromiso va más allá de la venta; nos enorgullece acompañar a
        nuestros clientes en cada paso del proceso, asegurándonos de que
        encuentren la residencia que se adapte perfectamente a sus necesidades,
        deseos y estilo de vida
    </p>
    <div class="nosotros-group">
        <div class="nosotros-1">
            <h3>Propiedades exclusivas</h3>
            <p>Solo seleccionamos las propiedades más sofisticadas, ubicadas en las mejores zonas, con los estándares más altos de calidad.</p>
        </div>
        <div class="nosotros-2">
            <h3>Atención personalizada</h3>
            <p>Nuestro equipo de expertos está siempre disponible para ofrecerte un servicio altamente especializado y adaptado a tus expectativas.</p>
        </div>
        <div class="nosotros-3">
            <h3>Compromiso con la excelencia</h3>
            <p>No solo vendemos casas, sino que ayudamos a crear hogares donde el lujo y el confort se fusionan perfectamente.</p>
        </div>
    </div>
    <a href="#" class="btn-1">Conocenos</a>
</section>