<app-navbar></app-navbar>



<section class="detalle-propiedad">
    <div class="container">
        <h1>Detalles de la Propiedad</h1>
        <div *ngIf="propiedad">
        <h2>{{ propiedad.titulo }}</h2>
        <img [src]="propiedad.imagen" [alt]="propiedad.titulo">
        <div class="detalle-info">
            <p><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>
            <p><strong>Ubicación:</strong> {{ propiedad.ubicacion }}</p>
            <p><strong>Precio:</strong> {{ propiedad.precio }}</p>
        </div>
        </div>

        <div *ngIf="!propiedad">
        <p>Propiedad no encontrada.</p>
        </div>
    </div>
</section>

<app-footer></app-footer>
